<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.virtualusisvaldiklis.busitrecias.vitualusisvaldiklis">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PagrindinisLangas"
            android:label="@string/title_activity_pagrindinis_langas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GautiIsdestymai"
            android:label="@string/title_activity_gauti_isdestymai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MygtukuRedaktorius"
            android:label="@string/title_activity_mygtuku_redaktorius"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Galerija"
            android:label="@string/title_activity_galerija"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DrauguSarasas"
            android:label="@string/title_activity_draugu_sarasas"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>